<div class="body__header">
  <img
    class="logo"
    src="browser-extensions-manager-ui-main/browser-extensions-manager-ui-main/assets/images/logo.svg"
    alt="logo"
  />
  <div class="body__darkmode-container">
    <img
      class="dark-mode"
      src="browser-extensions-manager-ui-main/browser-extensions-manager-ui-main/assets/images/icon-moon.svg"
      alt="moon/darkMode"
    />
  </div>
</div>

<div class="body__section">
  <h1 class="main__heading">Extension List</h1>
  <div class="button-section">
    <button class="btn btn--active">All</button>
    <button class="btn">Active</button>
    <button class="btn">Inactive</button>
  </div>
</div>

<div class="grid__container">
  <div class="card">
    <div class="card__container card__image">
      <img
        src="browser-extensions-manager-ui-main/browser-extensions-manager-ui-main/assets/images/logo-devlens.svg"
        alt=""
      />
    </div>
    <div class="card__container">
      <h3 class="card__heading">DevLens</h3>
      <p class="card__para">
        Quickly inspect page layouts and visualize element boundaries.
      </p>
    </div>
    <div class="card__container">
      <button class="btn__remove">Remove</button>
    </div>
    <div class="card__container card__container--end">
      <div class="switch__container">
        <input type="checkbox" id="check" />
        <label for="check" class="switch"></label>
      </div>
    </div>
  </div>
</div>
